.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 175px;
}
.bio {
  width: 40%;
  margin-right: 10%;
}
.profile_pic {
  width: 30%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}